/* Just clearing these out to a default position for the whole site before any extra styling is applied 
This is standard stuff*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

/* Give the body a font family and a color and set the margin */
body {
  font-family: 'Raleway', sans-serif;
  color: #000;
}

/* Give the buttons a font family*/
button {
  font-family: 'Signika', sans-serif;
}

/* Give the selects a font family*/
select {
  font-family: 'Signika', sans-serif;
}

/* Note this is a mobile first approach*/

/* For all of the styling jp denotes Journey Planner
See bottom of this file for Popup styling pu*/

.site-header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.grid-container {  /* The Index page layout */
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #fff;
  padding: 10px;
}

.grid-container > div {
  background-color:#fff;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.jp-container:after,
.jp-container:before {
  content: "";
  display: table;
  clear: both;
}

.jp-container {
  display: flex;
  flex-direction: column;
}

.jp-container>* {
  padding: 16px 0;
}
/************** End of The Wrapper for Pages ***************/

/* Navigation Buttons nb denotes navigation button
This section includes the action button that opens popup also the href button for pdf download
They are either green or blue but other than that they all look the same*/

.nb-button {
  font-size: 16px;
  font-weight: 500;
  padding: 20px;
  width: 100%;
  border: #fff;
}

.nb-blue {
  color: #fff;
  background-color: #1D4D71;
}

.nb-blue:hover,
.nb-blue:focus {
  background-color: #B9CCDA;
}

.nb-green {
  color: #000;
  background-color: #00A651;
  font-weight: 700;
}

.nb-green:hover,
.nb-green:focus {
  background-color: #51DDC0;
}

button a,
.fareButton {
  text-decoration: none;
  color: #fff;
}

/**************** End of Navigation button styling ****************/

/* The site header*/

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* The social media icons on site header*/
.site-flex-social ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  font-size: 350%;
  font-weight: 600;
  gap: 60px;
}

.fa-facebook {
  color: #3B5998;
}

.fa-facebook {
  transition: all .2s ease-in-out;
}

.fa-facebook:hover {
  transform: scale(1.1);
}

.fa-instagram {
  color: #3F729B;
}

.fa-instagram {
  transition: all .2s ease-in-out;
}

.fa-instagram:hover {
  transform: scale(1.1);
}

.fa-twitter-square {
  color: #00ACEE;
}

.fa-twitter-square {
  transition: all .2s ease-in-out;
}

.fa-twitter-square:hover {
  transform: scale(1.1);
}

/**** End of The social media icons on site header ***/

/* The New Search button on site header*/
#site-header-button {
  margin-top: 20px;
}

/*** End of The New Search button on site header ***/

/**************** End of The site header*****************/

/* The Index page */

/* The Video youtube iframe on index page*/

.videoframe, .sub-container {
  text-align: center;
   margin: 0 30px;
 }

/*** End of The Video youtube iframe on index page ***/

/* The Select Route select on index page*/
.su-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  margin: 30px 0; 
}

.su-label {
  font-weight: 700;
  margin-right: 20px;
}

.searchoptions {
  color: #000;
  padding: 8px;
  font-weight: 700;
  width: fit-content;
  border: 1px solid #000;
}

/*** End of The Select Route select on index page ***/

/* The Text instructions on index page*/
.instruct {
  text-align: center;
  color: #000;
  padding: 8px;
  font-weight: 700;
  margin: 25px 10px;
}

/***End of The Text instructions on index page ***/

/****************** End of Index page **************************/

/* The Single page*/

/* The Route Description Information*/
#routenumber {
  display: flex;
  justify-content: center;
}

.routetitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2em;
  margin: 10px 0;
}

#routefrequency {
  text-align: center;
}

#routetype {
  text-align: center;
  color: #000;
  font-weight: 900;
  font-size: larger;
  margin: 10px 0 30px 0;
}

/*** End of The Route Description Information ***/

/*********************** End of The Single Page ****************************/

/* The Timetable Page */

/* The Table */
table {
  font-family: 'Signika', sans-serif;
  margin-bottom: 2.5px;
}

.tabletime {
  border-collapse: collapse;
  width: 100%;
}

/* The Table Header th */
.tabletime th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1D4D71;
  color: white;
}

/* The Table Stripes */
.tabletime tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabletime tr:hover {
  background-color: #ddd;
}

/* The Table Rows and Header */
.tabletime td,
.tabletime th {
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* The Table First Column Fixed No Scroll */
.tabletime tr td:nth-child(1) {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  z-index: 1;
  background-color: #04AA6D;
  font-weight: bold;
  text-align: left;
}

/* This sets the thickness for specific column*/
table .thickborder {
  border-left: 2px double 	#04AA6D; 
  border-right: 2px double 	#04AA6D; 
}

/* This sets the thickness for specific column left only*/
table .thickleft {
  border-left: 2px double 	#04AA6D; 
}

/* This sets the thickness for specific column right only*/
table .thickright {
  border-right: 2px double 	#04AA6D; 
}

/***************** End of Timetable styling ****************************/

/* Modal Fares Calculation Popup Related Styling*/
/* For the popup styling pu denotes Popup */

.pu-container:after,
.pu-container:before {
  content: "";
  display: table;
  clear: both;
}

.pu-container {
  display: flex;
  flex-direction: column;
  padding: 0.01em 16px;
}

.pu-container>div {
  flex: 1;
}

/* Open the Popup and keep it front and modal */
.pu-modal {
  z-index: 3;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* The Popup Content */
.pu-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding-right: 16px;
  outline: 0;
  width: 100%;
  height: 100%;
}

.pu-center {
  text-align: center;
}

/* The Transition when opening Popup */
.pu-animate-opacity {
  animation: animateopacity 0.8s;
}

@keyframes animateopacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* This styling is applied to the X to close the Fares Calculator popup */

.pu-button {
  border: none;
  display: inline-block;
  padding: 0px 10px 6px 10px;
  line-height: 0.8em;
  margin-bottom: 6px;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}


.pu-xlarge {
  font-size: 48px;
}

.pu-hover-blue:hover {
  color: #fff;
  background-color: #1D4D71;
}

.pu-display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

/* End of  the X to close the Fares Calculator popup styling */

/* The Select Boxes */
.pu-thick {
  line-height: 3em;
}

.pu-section {
  margin-top: 16px;
  margin-bottom: 16px;
}

.pu-margin-bottom {
  margin-bottom: 16px !important;
}

.pu-border {
  border: 1px solid #ccc !important;
}

.pu-select {
  color: #000;
  padding: 8px;
  font-weight: 700;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.pu-label {
  font-weight: 700;
}

.pu-h4 {
  margin-top: 20px;
}

/*** End of Select Boxes ***/

.faredisplay {
  margin-left: 15px;
  padding-bottom: 20px;
}

/************************ End of The Modal Popup  **************************/

/* For Screens bigger Smaller than 630px */
@media only screen and (max-width: 630px) {
  .pu-button {
    margin-right: 10px;
  }
}

/* For Screens bigger Bigger than 768px */
@media only screen and (min-width: 768px) {
  /* For desktop: */

  #site-header-button {
    margin-top: 0;
    width: 15%;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
  }
  
  .header-container2 {
    display: flex;
    justify-content: center;
     align-items: center;
  }

  .jp-modal {
    padding-top: 100px;
    overflow: auto;
    width: 100%;
    height: 100%;
  }

  .jp-modal-content {
    padding: 0;
    width: 600px;
  }

  .jp-button {
    margin-right: 0px;
  }

}