/* Just clearing these out to a default position for the whole site before any styling is applied */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Note this is a mobile first approach*/

/* Give the body a font family and a color and set the margin */
body {
  font-family: 'Raleway', sans-serif;
  color: #000;
  margin: 0 auto;
}

.site-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  height: 150px;
}

.site-flex-social ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  font-size: 350%;
  font-weight: 600;
  gap: 60px;
}

.fa-facebook {
  color: #3B5998;
}

.fa-facebook { transition: all .2s ease-in-out; }
.fa-facebook:hover { transform: scale(1.1); }

.fa-instagram {
  color: #3F729B;
}

.fa-instagram  { transition: all .2s ease-in-out; }
.fa-instagram:hover { transform: scale(1.1); }

.fa-twitter-square {
  color: #00ACEE;
}

.fa-twitter-square { transition: all .2s ease-in-out; }
.fa-twitter-square:hover { transform: scale(1.1); }

.site-flex-button {
  background: #00A651;
  border-radius: 4px;
  border: 0;
  font-size: 1rem;
  font-weight: 700;
  height: 3em;
  padding: 1rem;
  letter-spacing: 4px;
}

.site-flex-button a {
  color: #fff;
  text-decoration: none;
}

.site-flex-button:hover,
.site-flex-button:focus
 {
  box-shadow: 0 3px 7px 1px rgba(50, 50, 50, 0.25);
}




#route {
  display: flex;
  align-self: flex-end;
  margin-right: 10px;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: .1em;
  margin-bottom: 25px;
}

#service {
  margin-left: 10px;
}

.fareButton {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #1D4D71;
  padding: 20px;
  width: 100%;
  margin-bottom: 2.5px;
  border: #fff;
}

table {
  font-family: 'Signika', sans-serif;
  margin-bottom: 2.5px;
}

#table253A {
  border-collapse: collapse;
  width: 100%;

}

#table253B {
  border-collapse: collapse;
  width: 100%;

}

#table253A td,
#table253A th {
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#table253B td,
#table253B th {
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#table253A tr td:nth-child(1),
#table253A th:nth-child(1) {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  z-index: 1;
  background-color: #04AA6D;
  font-weight: bold;
  text-align: left;
}

#table253B tr td:nth-child(1),
#table253B th:nth-child(1) {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  z-index: 1;
  background-color: #04AA6D;
  font-weight: bold;
  text-align: left;
}

#table253A tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table253B tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table253A tr:hover {
  background-color: #ddd;
}

#table253B tr:hover {
  background-color: #ddd;
}

#table253A th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#table253B th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

/* All of the modal popup form styling fc denotes Fares Calculator */

.fc-container:after, .fc-container:before {
  content: "";
  display: table;
  clear: both;
}

.fc-container {
  padding: 0.01em 16px;
}

.fc-modal {
  z-index: 3;
  display: none; 
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .fc-modal {
    padding-top: 100px;
    overflow: auto;
    width: 100vw;
    height: 100vh; 
  }
  .fc-modal-content {
    width: 600px;
  }
}

.fc-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  
}

.fc-animate-zoom {
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
  0% {
    top: -300px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.fc-card, .fc-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.fc-center {
  text-align: center;
}

.fc-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}

.fc-xlarge {
  font-size: 24px;
}

.fc-hover-blue:hover{
  color:#fff;
  background-color:#1D4D71;
}

.fc-display-topright{
  position: absolute;
  right: 0;
  top: 0;
}

.fc-section {
  margin-top: 16px;
  margin-bottom: 16px;
}

.fc-margin-bottom {
  margin-bottom: 16px!important;
}
.fc-border {
  border: 1px solid #ccc!important;
}
.fc-select {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.fc-block {
  display: block;
  width: 100%;
}

.fc-green, .fc-hover-green:hover {
  color: #fff;
  background-color: #4CAF50;
}
.fc-padding {
  padding: 8px 16px;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button {
  overflow: visible;
}
button, input, select, textarea, optgroup {
  font: inherit;
  margin: 0;
}

.fc-h4 {
  margin-top: 20px;
}

.faredisplay {
  margin-left: 15px;
  padding-bottom: 20px;
}

  